<div class="section-full-image">
  <div class="section-full-image__wrap">
    <div class="image">
      <div class="image__wrap scroll-trigger animate--slide-in" style="--animation-order: 0;">
        <img src="{{section.settings.img | img_url: 'master'}}" alt="">
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "section-full-image",
    "settings": [
      {
        "type": "image_picker",
        "id": "img",
        "label": "img"
      }

    ],
    "presets": [
      {
        "name": "section-full-image"
      }
    ]
  }
{% endschema %}