{% assign collection = collections[section.settings.collection] %}


<div class="section-product-collection" style="background: {{section.settings.bg}}">
  <div class="container {%if section.settings.slider_type != 'list-products-swiper-1'%} container2 {% else  %} container1{%endif%}">
    <div class="section-product-collection__wrap">
      <div class="title scroll-trigger animate--slide-in" style="--animation-order: 0;">
        <h2 class="{{section.settings.align-mobile}}">
          {{ section.settings.title }}
        </h2>
      </div>

      <div class="product-collection-slider-btn {%if section.settings.slider_type != 'list-products-swiper-2'%} btn-true {%endif%}">
        <div class="swiper-btns">
          <div class="swiper-button-prev-product-collection swiper-btn ">
            <svg
              width="37"
              height="9"
              viewBox="0 0 37 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M36.3535 4.85355C36.5488 4.65829 36.5488 4.34171 36.3535 4.14644L33.1716 0.964463C32.9763 0.769201 32.6597 0.769201 32.4645 0.964463C32.2692 1.15973 32.2692 1.47631 32.4645 1.67157L35.2929 4.5L32.4645 7.32842C32.2692 7.52369 32.2692 7.84027 32.4645 8.03553C32.6597 8.23079 32.9763 8.23079 33.1716 8.03553L36.3535 4.85355ZM0.636688 5L36 5L36 4L0.636688 4L0.636688 5Z" fill="#828071" />
            </svg>
          </div>
          <div class="swiper-pagination-product-collection swiper-btn"></div>

          <div class="swiper-button-next-product-collection swiper-btn ">
            <svg
              width="37"
              height="9"
              viewBox="0 0 37 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M36.3535 4.85355C36.5488 4.65829 36.5488 4.34171 36.3535 4.14644L33.1716 0.964463C32.9763 0.769201 32.6597 0.769201 32.4645 0.964463C32.2692 1.15973 32.2692 1.47631 32.4645 1.67157L35.2929 4.5L32.4645 7.32842C32.2692 7.52369 32.2692 7.84027 32.4645 8.03553C32.6597 8.23079 32.9763 8.23079 33.1716 8.03553L36.3535 4.85355ZM0.636688 5L36 5L36 4L0.636688 4L0.636688 5Z" fill="#828071" />
            </svg>
          </div>
        </div>
      </div>



      <div class="{{section.settings.slider_type}} swiper list-products-swiper">
        <div class="swiper-wrapper">
          {% for product in collection.products %}
            <div class="swiper-slide">
              {% render 'my-cart-item', section: section ,product: product, show_contant: section.settings.show_contant, showButton: true %}
            </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "section-collection",
    "settings": [
      {
        "type": "select",
        "id": "bg",
        "label": "background",
        "options": [
          {
            "value": "#F4F1EA",
            "label": "background1"
          }, {
            "value": "#FAF8F3",
            "label": "background2"
          }
        ],
        "default": "#F4F1EA"
      },
      {
        "type": "text",
        "id": "title",
        "label": "title"
      },
      {
        "type": "checkbox",
        "id": "show_contant",
        "label": "Show contant product",
        "default": true
      },
      {
        "type": "select",
        "id": "align-mobile",
        "label": "align title mobile",
        "options": [
          {
            "value": "left",
            "label": "left"
          }, {
            "value": "center",
            "label": "center"
          }, {
            "value": "right",
            "label": "right"
          }
        ],
        "default": "center"
      }, {
        "type": "select",
        "id": "slider_type",
        "label": "slider type",
        "options": [
          {
            "value": "list-products-swiper-1",
            "label": "slider 1"
          }, {
            "value": "list-products-swiper-2",
            "label": "slider 2"
          }
        ],
        "default": "list-products-swiper-1"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      }
    ],
    "presets": [
      {
        "name": "section-collection"
      }
    ]
  }
{% endschema %}