@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --font-size-55:clamp(38px,3.819vw,55px);
    --font-size-38:38px;
    --font-size-28:28px;
    --font-size-21:21px;
    --font-size-20:20px;
    --font-size-20:16px;
    --font-size-15:15px;
    --font-size-14:14px;
    --font-size-12:12px;
}


h1{
    color: #00281D;
   
    font-family: Lora;
    font-size: var(--font-size-55);
    font-style: italic;
    font-weight: 400;
    line-height: 120%; /* 66px */
    letter-spacing: -2.2px;
}

h2{
    color:  #00281D;
    font-family: Lora;
    font-size: var(--font-size-38);
    font-style: italic;
    font-weight: 400;
    line-height: 120%; /* 45.6px */
    letter-spacing: -1.52px;
}
h3{
    color: #00281D;
    text-align: center;
    font-family: Lora;
    font-size: var(--font-size-28);
    font-style: italic;
    font-weight: 400;
    line-height: 120%; /* 33.6px */
    letter-spacing: -1.12px;
}
p{
    color:#545248;
    font-family: Work Sans;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.64px;
}

.container{
    max-width:1440px;
    margin:0 auto;
    padding:0 clamp(20px,4.167vw,60px);
}