.collection {
  margin-top: 54px;
}
.collection-hero__title {
  margin-top: 0;
}

.gf-left .gf-option-block .gf-block-title .h3:after,
.gf-left .gf-option-block .gf-block-title h3:after,
.gf-offcanvas .gf-option-block .gf-block-title .h3:after,
.gf-offcanvas .gf-option-block .gf-block-title h3:after {
  margin-left: 8px;
  float: right;
  margin-right: 0;
  font-size: 25px;
}

.gf-option-block ul.gf-option-box li.is-collapsed > div > button + span:after,
.gf-option-block ul.gf-option-box li.is-collapsed > div > a + span:after {
  content: "\f107";
  display: inline-block;
  font: 1em/1.2 GloboIcon;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 0;
  height: 0;
  border: none;
  position: relative;
  top: -7px;
}

.gf-option-block ul.gf-option-box li > div > button + span:after,
.gf-option-block ul.gf-option-box li > div > a + span:after {
  content: "\f106";
  display: inline-block;
  font: 1em/1.2 GloboIcon;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 0;
  height: 0;
  border: none;
  position: relative;
  top: -7px;
}
.gf-option-block ul.gf-option-box li > div > button:not(:has(+ span)):after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg id='Arrow'%3E%3Cpath id='Arrow 5' d='M3.5 9.25C3.08579 9.25 2.75 9.58579 2.75 10C2.75 10.4142 3.08579 10.75 3.5 10.75L3.5 9.25ZM16.2551 10.5303C16.548 10.2374 16.548 9.76256 16.2551 9.46967L11.4821 4.6967C11.1892 4.40381 10.7143 4.40381 10.4215 4.6967C10.1286 4.98959 10.1286 5.46447 10.4215 5.75736L14.6641 10L10.4215 14.2426C10.1286 14.5355 10.1286 15.0104 10.4215 15.3033C10.7143 15.5962 11.1892 15.5962 11.4821 15.3033L16.2551 10.5303ZM3.5 10.75L15.7248 10.75L15.7248 9.25L3.5 9.25L3.5 10.75Z' fill='%2300281D'/%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  font: 1em/1.2 GloboIcon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  right: -6px;
  top: 12px;
}
/* .gf-option-block ul.gf-option-box li > div > button:not(:has(+ span)) > span {
    width: 80%;
} */
/* li.is-collapsed {
    border-bottom: 1px solid #E5E0D5;
} */
/*.gf-count {
  display: none;
}*/
.gf-block-scroll {
  max-height: fit-content;
}
.gf-left #gf-tree {
  width: 30%;
}
.gf-left #gf-tree:not(.spf-hidden) + #gf-grid {
  width: 70%;
}
.gf-option-box li {
  border-bottom: 1px solid #e5e0d5;
}
.gf-option-box li:last-child {
  border: none;
}
.gf-option-block ul li a,
.gf-option-block ul li button {
  padding: 12px 0 16px 0;
}
.gf-option-box li ul {
  padding: 0;
}
.gf-option-box li ul > li > div > button {
  margin-left: 20px;
}
.gf-option-box li ul > li > ul > li > div > button {
  margin-left: 50px;
}
.gf-block-scroll {
  padding: 0;
}
.gf-option-block ul.gf-option-box {
  overflow: visible;
}
.gf-block-scroll {
  overflow: visible;
}
.gf-label {
  font-family: Work Sans;
}
.gf-block-title span {
  font-family: Lora;
}
.collection-hero__title-wrap .rte {
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.64px;
}
/**********************************/
.gf-block-title .h3 span {
  color: #00281d !important;
  font-family: Lora !important;
  font-size: 21px !important;
  font-style: italic !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 25.2px */
  letter-spacing: -0.84px !important;
}
.gf-block-title .h3 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.gf-block-content{
    margin-top:0;
}
.gf-option-block{
    padding:12px 0  16px 0 !important;
    border-bottom:1px solid #E5E0D5 !important;
}

.gf-option-box li button{
    padding: 0 !important;
}
.gf-option-box li button + span{
    width:20px !important;
    height: 20px !important;
}
.gf-option-box li button + span::after{
    top:0 !important;
    content:'' !important;
    width:20px !important;
    height: 20px !important;
    transform: rotate(-180deg);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.25 7.375L10 13.625L3.75 7.375' stroke='%2300281D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") !important;
}
.gf-option-box li.is-collapsed button + span::after{
    transform: rotate(0deg);
}
.gf-block-content{
    margin-top:28px;
}
.gf-option-box > li > div{
    /*margin-top:28px !important;*/
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:16px 0 16px 16px  !important;
   /* border-bottom: 1px solid #E5E0D5;*/
}

.gf-option-box > li > ul > li > div{
    margin-top:0 !important;
    border:none !important;
    padding:16px 0 16px 32px !important;
   /* border-bottom:1px solid #E5E0D5 !important;*/
}
.gf-option-box > li button span{
    color: #00281D !important;
    font-family: Work Sans !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 130% !important; /* 19.5px */
    letter-spacing: -0.6px !important;
    text-transform: uppercase !important;
}
.gf-option-box > li > ul > li > div button{
    margin-left:0;
    padding-right: 20px !important;
}
.gf-option-box li div button::after{
    right: 0 !important; 
    top:50% !important;
    transform: translateY(-50%) !important;
}

.gf-option-box > li > ul > li > ul > li > div {
    padding:16px 0px 16px 48px;
}
.gf-option-box > li > ul > li > ul > li > div > button{
    margin-left:0;
}
.gf-option-box ul li > div:before{
    content:none;
}

.gf-option-box > li:last-child > div{
    border-bottom: none !important;
    padding:16px 0px 0px 16px !important ;
}
.gf-option-box > li > ul > li:last-child > div{
    border-bottom: none !important;
    /*padding:16px 0px 0px 32px !important ;*/
}
.gf-option-box > li:last-child > ul > li:last-child > div{
    padding:16px 0px 0px 32px !important ;
}

.collection-hero__title{
    margin-bottom: 24px !important;
}
.gf-summary{
    display:none;
}

.collection-hero__text-wrapper span, .collection-hero__text-wrapper p{
    color: #545248 !important;
    font-family: Work Sans !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 160% !important; 
    letter-spacing: -0.64px !important;
}
.collection-hero__inner{
    margin-bottom:24px;
}
.gf-filter-selection{
    margin:0;
    padding: 0;
    gap:10px;
}
.gf-filter-selection .sort-by, .gf-refine-toggle-mobile{
    border-radius: 29px;
    background: #FFF;
    display:flex;
    align-items: center;
    height: 46px;
    padding:0 36px 0 16px;
    margin:0 !important
}
.gf-filter-selection .sort-by label, .sortby-select{
    color:  #828071 !important;
    font-family: Work Sans !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 160% !important; /* 25.6px */
    letter-spacing: -0.64px !important;
    height: auto !important;
}
.sort-by:before{
    right: 16px;
}
.gf-actions{
    margin-bottom:24px !important;
    gap:10px;
    margin-left:0;
    margin-right: 0;
}
.gf-filter-trigger{
    padding:0 ;
    margin: 0;
}
@media (max-width:767px){
    .gf-filter-selection, .gf-filter-trigger{
        flex:1 1;
    }
}
@media (max-width:380px){
    .gf-filter-selection, .gf-filter-trigger{
        flex:1 1;
    }
}

/* --start-- filter card Globo --start-- */
.spf-product__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.spf-product-card__title {
  width: 100%;
}
.spf-product__form {
  min-width: auto !important;
  max-width: 50%;
  padding-right: 20px;
}
.spf-product__form::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg id='Arrow'%3E%3Cpath id='Arrow 5' d='M3.5 9.25C3.08579 9.25 2.75 9.58579 2.75 10C2.75 10.4142 3.08579 10.75 3.5 10.75L3.5 9.25ZM16.2551 10.5303C16.548 10.2374 16.548 9.76256 16.2551 9.46967L11.4821 4.6967C11.1892 4.40381 10.7143 4.40381 10.4215 4.6967C10.1286 4.98959 10.1286 5.46447 10.4215 5.75736L14.6641 10L10.4215 14.2426C10.1286 14.5355 10.1286 15.0104 10.4215 15.3033C10.7143 15.5962 11.1892 15.5962 11.4821 15.3033L16.2551 10.5303ZM3.5 10.75L15.7248 10.75L15.7248 9.25L3.5 9.25L3.5 10.75Z' fill='%2300281D'/%3E%3C/g%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 25%;
}
/* --end-- filter card Globo --end-- */

.active-filter:before{
  content: "";
 height: 6px;
 width: 6px;
 border-radius: 50%;
 display: flex;
 background: #00281d;
 margin-right: 10px;
 align-items: center;
 position: absolute;
 top: 50%;
 left: -13px;
 transform: translateY(-50%);
}