.mailchimp-form .newsletter-form {
    align-items: center;
}

.mailchimp-form #mc_embed_signup_scroll {
    width: 100%;
}

.mailchimp-form h2 {
    color: #00281d;
    margin-top: 0;
    margin-bottom: 0;
}

.newsletter__subheading {
    margin-top: 10px;
}

.mailchimp-form .field {
    margin-top: 10px;
}

.mailchimp-form .field__input {
    background-color: #e5e0d5;
}

.mailchimp-form .mc_fieldset {
    border: none;
}

.mailchimp-form .mc_fieldset input,
.mailchimp-form .mc_fieldset span {
    cursor: pointer;
}


.mailchimp-form .button {
    width: 100%;
}